import init.tetra.usb.rc
import init.tetra.debug.rc

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # Disable all logging init, and kernel ...
    #loglevel 0
    #write /proc/sys/kernel/printk 0

    class_start trimarea
    exec /sbin/wait4tad_static

on post-fs-data
    #restorecon_recursive /data

    # Import properties from MiscTA
    #start taimport
    #start calibration

    #mkdir /data/media 0770 media_rw media_rw

#on charger
#    mount_all /fstab.tetra
#    start taimport
#    start calibration
#    start chargemon

on boot
    # Permissions for BT
    # Taken verbatim from BCM Android.
    #mkdir /data/misc 01771 system misc
    #mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    #mkdir /data/misc/bluetooth 0770 system system
    #chmod 0770 /data/misc/bluetoothd
    #chmod 0770 /data/misc/bluetooth
    #chown bluetooth bluetooth /data/misc/bluetoothd
    #chown bluetooth bluetooth /data/misc/bluetooth
    chmod 0660 /dev/ttyS1
    chown bluetooth bluetooth /dev/ttyS1
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown system input /sys/bus/i2c/devices/2-0068/delay
    chown system input /sys/bus/i2c/devices/2-0068/enable
    chown system input /sys/bus/i2c/devices/2-0068/fflush
    chmod 0664 /sys/bus/i2c/devices/2-0068/delay
    chmod 0664 /sys/bus/i2c/devices/2-0068/enable
    chmod 0220 /sys/bus/i2c/devices/2-0068/fflush

    # Console permissions
    chmod 0660 /dev/ttyS0

    # GPS permissions
    chmod 0660 /dev/ttyS2
    chown gps system /dev/ttyS2

#    chmod 0777 /system/bin/btld

    # Backlight permissions
    chown system system /sys/class/backlight/lm3630a_leda/brightness
    chown system system /sys/class/backlight/lm3630a_leda/device/ramp_onoff

    # LCD ambient mode permissions
    chown system system /sys/devices/platform/3c200000.kona-fb/panel_mode

    # NFC permissions
    chown nfc nfc /dev/bcm2079x

    start clockwork_proxy

on fs
  mount_all /fstab.tetra

  #mkdir /data/gps 0770 gps system

  #chmod 0771 /data/system
  #chown gps system /system/bin/glgps
  #chown gps system /system/etc/gps/glconfig.xml
  #chmod 0660 /system/etc/gps/glconfig.xml
  #chown gps system /system/etc/gps

  #chmod 0770 /system/etc/gps
  #chmod 0770 /system/bin/glgps

  #chown gps system /system/bin/gpslogd
  #chmod 0770 /system/bin/gpslogd

  write /sys/class/gpio/export 23
  chown gps system /sys/class/gpio/gpio23/value
  chown gps system /sys/class/gpio/gpio23/direction
  write /sys/class/gpio/gpio23/direction out
  write /sys/class/gpio/gpio23/value 0

  setprop ro.crypto.fuse_sdcard true
# USB FunctionFS (ADB)
  mkdir /dev/usb-ffs 0770 shell shell
  mkdir /dev/usb-ffs/adb 0770 shell shell
  mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
  write /sys/class/android_usb/android0/f_ffs/aliases adb

#service clockwork_proxy /system/bin/ClockworkProxy
#  class main

# TrimArea Daemon
# tad_static <path to file or mmc block> <start block> <number of blocks> <block size (kb)>
#service tad_static /sbin/tad_static /dev/block/platform/sdhci.1/by-name/ta 0,4,256
#    user root
#    group root
#    socket tad stream 0660 system trimarea
#    class trimarea
#    seclabel u:r:tad:s0

#service taimport /system/bin/taimport
#    class main
#    user root
#    group root
#    disabled
#    oneshot

#service calibration /system/bin/calibration
#    user root
#    group root
#    disabled
#    oneshot

# virtual sdcard daemon running as media_rw (1023)
#service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
#    class late_start

#service bugreport /system/bin/dumpstate -d -p -B \
-o /data/data/com.android.shell/files/bugreports/bugreport
#    class main
#    disabled
#    oneshot

#service battery_logging /system/bin/battery_logging
#    disabled

#service chargemon /system/bin/chargemon
#    class charge-only
#    user root
#    group root
#    oneshot

#service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
#    disabled
#    oneshot

#service iprenew_bt-pan /system/bin/dhcpcd -n
#    disabled
#    oneshot

# GPS
#service gpsd /system/bin/glgps -c /system/etc/gps/glconfig.xml
#    class main
#    user gps
#    socket gps seqpacket 0660 gps system
#    group system
#    ioprio be 0

#service key_vibrate /system/bin/key_sleep_vibrate_service
#    class main

#service nfctagmodify /system/bin/T2tNdefWrite
#    user nfc
#    disabled
#    oneshot

# create filesystems if necessary
#service setup_fs /system/bin/setup_fs \
#    /dev/block/platform/sdhci.1/by-name/userdata \
#    /dev/block/platform/sdhci.1/by-name/cache
#    class core
#    user root
#    group root
#    oneshot

#on property:battery_log=1
#    start battery_logging
#on property:battery_log=0
#    stop battery_logging

on property:dev.bootcomplete=1
#    write /dev/console [AUTOTEST]BOOT_COMPLETE
    write /sys/module/pwr_mgr/parameters/pm_late_init 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 220 /sys/devices/system/cpu/cpufreq/interactive/boostpulse
#    start copy_cp_imgs
# Remove boot up MEMC DFS turbo req - ENABLE MEMC DFS by default
    write /sys/power/memc_dfs_init 1
# Disable cpu2 and cpu3
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    chmod 0000 /sys/devices/system/cpu/cpu2/online
    chmod 0000 /sys/devices/system/cpu/cpu3/online
    #start  nfctagmodify
